%p#notice= notice
%h1 Users
= paginate @users, window: 2

= form_tag(users_path, method: :get) do
  Search by name #{text_field_tag :name, params[:name]}
  \#{submit_tag 'Search', name: nil}

= link_to "New User", new_user_path, remote: true, class: "btn btn-primary"

%table
  %thead
    %tr
      %th= sortable "updated_at", 'Last Updated'
      %th= sortable "name"
      %th= sortable "email"
      %th= sortable "title"
      %th= sortable "phone"
      %th= sortable "status"
      %th{:colspan => "2"}
  %tbody
  - @users.each do |user|
    = render partial: 'row', locals: {user: user}

  %br/

  = render 'dialog'
